.cardtag {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 10px 16px 8px 16px;
    padding: 0 10px 0 16px;
    background: #ff2d75;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    cursor: pointer;
}

.cardtag:hover {
    background: #ff4385;
}

.pinkbg {
    background: #ff2d75;
}

.bluebg {
    background: #4fc3dc;
}

.cardtag::before {
    content: "";
}

.cardtag::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
}